/* nav {
  margin-bottom: 20px;
} */

p {
  font-size: 0.875rem;
}

.my-name {
  font-size: 1.875rem;
}

.hey-page {
  outline: solid red 1px;
  padding-top: 7rem;
}

.navbar {
  border-bottom: 1px solid #000; /* temporary for testing */
}

.accordion-button:not(.collapsed) {
  background-color: hotpink; /* this will be whatever color I make the 2 btns at the top */
}